nav {
  background-color: rgba(91, 130, 102, 0.10); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  padding: 1rem;

  border-bottom: 1px solid var(--color-1);
  overflow:hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  > *{
    margin-right: 1rem;
  }
}

.cta {
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--color-5);
  background-color: var(--color-3);
  padding: 1vw;
  border-radius: 5px;
  text-decoration: none;

  font-weight: 600;
  box-shadow: 0 0 10px var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added smooth transitions for hover effects */
}

.cta:hover {
  background-color: var(--color-5);
  color: var(--color-1);
}


.cta1 {
  padding: max(3vw, 3vh);
  text-align: center;
  line-height: 1.7;
  border-top: 1px solid var(--color-1);
  border-bottom: 1px solid var(--color-1);

  color: var(--color-1); /* Consolidated repeated color declarations */
}

#what-i-do p.cta2 {
  text-align: center; /* Specific override for `p.cta2` */
}
.cta-tel{
  margin-left:auto;
}
.cta-tel,
.cta-share,
.cta-contact,
.cta-home {
  xposition: fixed;
  top: 15px;
  height: 60px;
  width: 50px;
  color: var(--color-1);
  border: 1px solid var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

.cta-tel {
  right: 15px;

  transform-origin: top center;
  animation: subtleSwing 30s ease-in-out infinite;
  text-align: right;
  text-wrap: nowrap; /* Ensures proper text wrapping */
  width: auto;
}

.cta-share {
  left: 15px;
}

.cta-contact {
  left: 75px;
}

