nav.toolbar-1 {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  padding: 1rem;

  z-index: 100;
  overflow: hidden;


  > * {
    margin-right: 1rem;
  }
}


nav.readability-toolbar {
  position: absolute;
  top:80px;
  left:10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
 gap: 10px;

}
.cta {

  padding: 1vw;
  border-radius: 5px;


  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;

  img {
    width: 24px;
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-width: 24px;
    min-height: 24px;
  }
}


.cta1 {
  padding: max(3vw, 3vh);


}


.cta-tel {
  margin-left: auto;
  right: 15px;
  transform-origin: top center;
  width: auto;


}

.cta-share {
  left: 15px;
}

.cta-contact {
  left: 75px;
}

.cta-color {
  padding: 0;
  display: inline-block; /* Ensure the radio button containers are visible */

  label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="radio"] {
    width: 24px;
    height: 24px;
    appearance: none; /* Remove default styling for custom styles */
    background-color: transparent; /* Default unchecked background color */
    border: 1px dotted black; /* Border for unchecked state */
    border-radius: 50%; /* Make it a circle */
    position: relative; /* Position for ::after pseudo-element */
    cursor: pointer; /* Pointer cursor for better UX */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  input[type="radio"]:checked {
    background-color: transparent;
    border-color: #000; /* Optional: Change border color when selected */
  }

  input[type="radio"]:checked::after {
    content: "✔"; /* Unicode checkmark */
    color: black; /* Color of the checkmark */
    font-size: 18px; /* Adjust font size */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
  }


  input[type="radio"]:focus {
    outline: 2px dashed black; /* Accessibility focus outline */
  }

}

.cta-color-white {
  background-color: var(--color-read-me);
  border-radius: 12px;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  text-decoration: none;text-align: center;
  cursor: pointer;
  input {
    margin-right: 1rem;display:none
  }
}

.cta-color-green {
  background-color: var(--color-1);
  color: var(--color-green-machine);
  border-radius: 12px;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
text-align: center;  cursor: pointer;
  input {
    margin-right: 1rem;display:none
  }
}

.cta-color-black {
  background-color: var(--color-back-in-black);
  color: white;

  input[type="radio"] {

    border: 1px dotted white; /* Border for unchecked state */
  }

  input[type="radio"]:checked::after {
    color: white;
  }

  input[type="radio"]:focus {
    outline: 2px dashed white; /* Accessibility focus outline */
  }
}
