#portfolio {
  .service-list {
    flex-wrap: wrap
  }

  .service {

    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
    cursor: pointer;
    padding: 1rem;

    a {
      width: 100%;
    }

    &:hover a {

      z-index: 9
    }

    a {
      position: relative;
      display: inline-block;
      z-index: 10;


      border-radius: var(--portfolio-radius);
      margin: var(--portfolio-padding);
      overflow: hidden;
      text-decoration: none;
      padding: 0;

    }

    figcaption {

      z-index: 10;
      position: relative
    }
  }
}

#portfolio img {
  width: 100%;
  height: auto;
  border-radius: var(--portfolio-radius);
  aspect-ratio: 1 / 1;
  display: block
}

#portfolio a::before {
  content: attr(title);

  width: 100%;
  height: 100%;


  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translateY(0);
  padding: var(--portfolio-padding);
  box-sizing: border-box
}